<div class="book-page col-sm-12">
    <div><h5><i>pageName: {{pageCtrl.pageName}}</i></h5></div>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>{{pageCtrl.page.title}}</span>
            <div class="pull-right">
                <button type="button" class="btn btn-primary btn-xs" ng-if="pageCtrl.$state.$current.includes['home.page.edit']">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Save the Page
                </button>
                <button type="button" class="btn btn-warning btn-xs" ui-sref="home.page" ui-sref-opts="{pageName: page}" ng-if="pageCtrl.$state.$current.includes['home.page.edit']">
                    <span class="glyphicon glyphicon-floppy-remove"></span> Close Editor
                </button>
                <button type="button" class="btn btn-info btn-xs" ui-sref="home.page.edit" ui-sref-opts="{pageName: page}" ng-if="!pageCtrl.$state.$current.includes['home.page.edit']">
                    <span class="glyphicon glyphicon-edit"></span> Edit the Page
                </button>
            </div>
        </div>
        <div class="panel-body">
                <div class="pages-wraper row">
                    <ui-view ng-class="pageCtrl.$state.$current.includes['home.page.edit'] ? 'page-editor' : 'hidden'"></ui-view>
                    <div class="page-preview">
                        <h2>Preview:</h2>
                        <div btf-markdown="pageCtrl.page.text" style="flex: 1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
