.book-page {
    .pages-wraper {
        display: flex;
        align-items: stretch;
        .page-preview {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 0 15px 15px 15px;
            flex: 1;
            width: calc(50% - 30px);
            margin: 0 15px;
            word-wrap: break-word;
        }
        .page-editor {
            @extend .page-preview;
            textarea {
                width: 100%;
                display: block;
                outline: none;
                resize: none;
                overflow-y: auto;
                min-height: 180px;
                height: calc(100vh - 360px);
            }
        }
    }

}
