.book-page {
    .pages-wraper {
        .page-preview {
            border: 1px solid #ccc;
            border-radius: 4px;
            word-wrap: break-word;
            padding: 0 15px;
            > h2 {
                border-bottom: 1px solid #ccc;
            }
        }
        .page-editor {
            @extend .page-preview;
            textarea {
                width: 100%;
                display: block;
                outline: none;
                resize: none;
                overflow-y: auto;
                min-height: 180px;
                height: calc(100vh - 360px);
                margin: 0 0 10px;
            }
        }
    }
}
